<!DOCTYPE html>
<html>
<head>
	<title>Mart</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/land.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	
	<div class="lmain">
		<div class="lcentre">
			<p class="tbs">Mart management system
			{% if msg %}
			<div class="alert alert-danger" role="alert">{{ msg }}</div></p> 
			{% endif %}
			<p id="wc">Welcome</p>
			<p class="logDcontainer"><button class="logD"><strong>Login to get Managing</strong></button></p>
		</div>
	</div>

	<div class="login">
		<div class="loginContainer">
			<div class="pp">
				<img class="UI" src="/static/images/userIcon.png" alt="User">
			</div>
			<div class="form">
				<form action='/' method="POST">
					<p class="fields highlight"><span class="userico"><img class="ico" src="static/images/pp1.png"></span><input type="text" class="box" name="username" placeholder=" Enter Username" required="required" autofocus="autofocus"></p>
					<p class="fields highlight"><span class="pwdico"><img class="ico" src="/static/images/pwd.png"></span><input type="password" class="box" name="pwd" placeholder=" Enter Password" required="required"></p>
					<br><br>
					<p class="fields"><button class="formbutt" type="submit">LOGIN</button></p>
				</form>
			</div>
		</div>	
	</div>

	<script type="text/javascript">
		// Fading in and Out
		$(".logD").click(function(){
			$(".lmain").addClass("fdout");
			setTimeout(function(){
				$(".lmain").css("display","none");
				$(".login").css("display","flex");
			},500);
			$(".login").addClass("fdin");
		});

		// Highlighting parents of input fields
		$(".box").focus(function(){
			$(this).parent().css({"background-color":"#e57782", "box-shadow":"0px 0px 8px 3px #d23f50"});
		});
		
		$(".highlight").focusout(function(){
  		$(this).css({"background-color":"#d23f50", "box-shadow":""});
		});

		//Changing default message
		$("input").on("invalid", function(){
			$(this).setCustomValidity(this.willValidate ? '' : 'Set your name!!');
		});

	</script>
</body>
</html>
